@import 'tailwindcss';

@theme {
  --color-background: #ffffff;
  --color-foreground: #111111;

  --color-muted: #f4f4f5;
  --color-muted-foreground: #6b7280;

  --color-primary: #000000;
  --color-primary-foreground: #ffffff;

  --color-secondary: #1f1f1f;
  --color-secondary-foreground: #e5e5e5;

  --color-accent: #262626;
  --color-accent-foreground: #fafafa;

  --color-destructive: #e11d48;
  --color-destructive-foreground: #ffffff;

  --color-border: #d4d4d8;
  --color-input: #e4e4e7;
  --color-ring: #000000;
}
